:root {
    --color-primary: #212121;
    --color-accent: #fff;


    --font-family-primary: 'Roboto', 'sans-serif';
    --font-family-secondary: 'Raleway', 'sans-serif';
}

body {
    font-family: var(--color-primary);
    font-family: var(--font-family-primary);
    font-size: 14px;
    letter-spacing: 0.3em;
    background-color: #fff;
}
.button  {
    background-color: #f5f4fa;
    color: #212121;
    cursor: pointer;
    
}

.button :hover  {
    background-color:  #2196F3;
    color: #fff;
    cursor: pointer;
    
    
   
}
.img {
    width: 370px;
}

img {
    width: 370px;
}

.link {
    color:  #757575;
}
.link:hover {
    color: #2196F3;
    
}
h3 {
    font-size: 18px;
        line-height: 36px;
}
p {
    font-size: 16px;
        line-height: 30px;
}

